<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert History</title>
</head>
<body>
    <ul>
        {% for alert in alerts %}
            <li>
                <ul>
                    <li>{{ alert['date'] }}</li>
                    <li> {{ alert['content']['body'] }} </li>
                </ul>
                <br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>